In [1]:
january_customers = {101, 102, 103, 104, 105}
february_customers = {102, 104, 106, 107, 108}

common = january_customers.intersection(february_customers)
print("Customers in both january and february: ",common)

Customers in both january and february:  {104, 102}

In [2]:
# Sample data: Customer IDs who made purchases in January and February
january_customers = {101, 102, 103, 104, 105}
february_customers = {102, 104, 106, 107, 108}

# Find customers who made purchases in both January and February
customers_both_months = january_customers.intersection(february_customers)

# Alternatively, you can also use the & operator
# customers_both_months = january_customers & february_customers

# Print the results
if customers_both_months:
    print("Customers who made purchases in both January and February:", customers_both_months)
else:
    print("No customers made purchases in both months.")

Customers who made purchases in both January and February: {104, 102}

In [3]:
# Sample daily temperatures for a week (including some invalid values)
temperatures = [25.5, 26.0, 'abc', 24.8, 27.3, '', 25.9]

# Initialize variables for calculating the average
valid_temperatures = []

# Filter out valid temperature values
for temp in temperatures:
    try:
        # Attempt to convert the temperature to a float
        valid_temp = float(temp)
        valid_temperatures.append(valid_temp)
    except (ValueError, TypeError):
        # Handle invalid or missing values by skipping them
        continue

# Calculate the average temperature
if valid_temperatures:
    average_temperature = sum(valid_temperatures) / len(valid_temperatures)
else:
    average_temperature = None  # Handle case with no valid temperatures

# Print the results
if average_temperature is not None:
    print(f"The average temperature for the week is: {average_temperature:.2f}°C")
else:
    print("No valid temperature data available to calculate an average.")

The average temperature for the week is: 25.90°C

In [4]:
# Sample string containing product name and price
product_info = "Laptop, $999"

# Split the string into product name and price
try:
    product_name, product_price = product_info.split(", ")
    
    # Print the extracted values
    print(f"Product Name: {product_name}")
    print(f"Product Price: {product_price.strip()}")  # Using strip to remove any extra spaces
except ValueError:
    print("Error: The input string does not contain valid product information.")

Product Name: Laptop
Product Price: $999

In [5]:
# Sample dataset of student scores
scores = [85, 90, 75, 80, 95, 70, 88, 92, 78, 83]

# Check if the scores list is not empty
if scores:
    # Calculate average score
    average_score = sum(scores) / len(scores)

    # Calculate maximum and minimum scores
    max_score = max(scores)
    min_score = min(scores)

    # Print the results
    print(f"Average Score: {average_score:.2f}")
    print(f"Maximum Score: {max_score}")
    print(f"Minimum Score: {min_score}")
else:
    print("No scores available to calculate.")

Average Score: 83.60
Maximum Score: 95
Minimum Score: 70

In [7]:
import numpy as np

arr = np.array([[1, 2, 3], [4, 5, 6]])

result = np.sum(arr)

print(result)

21

In [8]:
import numpy as np
arr = np.array([1, 2, 3], dtype='float')
print(arr.dtype)

float64

In [10]:
import numpy as np

arr = np.arange(2, 10, 2)
arr

array([2, 4, 6, 8])

In [12]:
fruits = ["apple", "banana", "cherry"] 
for index, fruit in enumerate(fruits): 
    print(index, fruit)

0 apple
1 banana
2 cherry

In [13]:
try:

  raise ValueError("This is a custom exception.")

except Exception as e:

  print(type(e).__name__)

ValueError

In [14]:
try: 
    num = int("abc") 

except ValueError: 

 print("Invalid conversion.") 

else: 

 print("Conversion successful.")

Invalid conversion.

In [16]:
numbers = [1, 2, 3, 4, 5]

for num in numbers:
  if num == 3:
      break
  print(num)

1
2

In [6]:
import numpy as np

arr1 = np.array([1, 2, 3])

arr2 = np.array([4, 5, 6])

result = np.concatenate((arr1, arr2))

print(result)

[1 2 3 4 5 6]