In [1]:
import scipy as sc
print(sc.__version__)

1.14.1

In [4]:
import pandas as pd
from scipy.constants import pi

url = "https://raw.githubusercontent.com/AnudipAE/DANLC/master/radius_data.csv"
df = pd.read_csv(url)
print(df)

df["Area(sq. m)"] = (pi * df["Radius"]**2).round(2)


df.to_csv("UpdatedArea.csv", index=False)
df

   CircleName    Radius
0         SAY  3.798717
1         PSN  9.958397
2         JDP  5.142711
3         AUO  3.319584
4         OHG  1.138395
..        ...       ...
95        PVZ  7.798122
96        SQR  5.133239
97        NSM  9.761868
98        SXE  6.774164
99        JNT  2.823492

[100 rows x 2 columns]

   CircleName    Radius  Area(sq. m)
0         SAY  3.798717        45.33
1         PSN  9.958397       311.55
2         JDP  5.142711        83.09
3         AUO  3.319584        34.62
4         OHG  1.138395         4.07
..        ...       ...          ...
95        PVZ  7.798122       191.04
96        SQR  5.133239        82.78
97        NSM  9.761868       299.38
98        SXE  6.774164       144.17
99        JNT  2.823492        25.05

[100 rows x 3 columns]

In [5]:
import pandas as pd
from scipy.constants import pi

url = "https://raw.githubusercontent.com/d4dipdas/DANLC/main/city_temperatures.csv"
df = pd.read_csv(url)
print(df)

# df["Area(sq. m)"] = (pi * df["Radius"]**2).round(2)


# df.to_csv("UpdatedArea.csv", index=False)
# df

             City  Temperature (°C)
0     Los Angeles              35.8
1         Chicago               8.1
2   San Francisco               0.2
3         Chicago              36.2
4          Boston              37.9
..            ...               ...
95        Seattle              39.7
96         Boston               1.5
97  San Francisco              36.2
98       New York              -0.3
99        Chicago              21.1

[100 rows x 2 columns]